## AMV E-COMMERCE

**1. Definicion de librerias**

In [1]:
import numpy as np
import matplotlib.pylab as plt
from math import exp,log,sqrt,pi,sin
import scipy.stats as sts
import pandas as pd
%matplotlib inline
pd.set_option('display.max_columns',100)
import re

**2. Lectura de datos**

In [2]:
df = pd.read_pickle('df_cleaned.pickle')

In [3]:
df.shape

(390722, 17)

In [4]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Week,Day,Month,Year,Periodo2,Periodo,Flag_Cancel,Total,QuantityCanceled
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850,United Kingdom,48,1,12,10,20101201,201012,0,15.30,0
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850,United Kingdom,48,1,12,10,20101201,201012,0,20.34,0
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850,United Kingdom,48,1,12,10,20101201,201012,0,22.00,0
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850,United Kingdom,48,1,12,10,20101201,201012,0,20.34,0
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850,United Kingdom,48,1,12,10,20101201,201012,0,20.34,0

In [5]:
df=df.loc[~(df['Quantity']<0)].reset_index(drop=True)

In [6]:
df.shape

(390688, 17)

In [7]:
list=['12415', '12433', '12471', '12569', '12678', '12682', '12731',
       '12748', '12753', '12921', '12931', '12971', '13081', '13089',
       '13098', '13199', '13263', '13408', '13468', '13694', '13767',
       '13777', '13798', '13881', '14088', '14096', '14156', '14298',
       '14527', '14606', '14646', '14680', '14911', '15039', '15061',
       '15078', '15159', '15189', '15311', '15769', '15838', '15856',
       '16013', '16029', '16133', '16210', '16422', '16684', '16839',
       '16843', '17315', '17381', '17389', '17404', '17428', '17450',
       '17511', '17675', '17677', '17757', '17811', '17841', '17850',
       '17857', '17949', '17961', '18102']

In [8]:
df = df.loc[~df['CustomerID'].isin(list)].reset_index(drop=True)

In [9]:
df.shape

(332057, 17)

**Importacion de la tabla con los Clusters**

In [10]:
CLUSTERS = pd.read_pickle('TF_clusters.pickle')

In [11]:
VAR=['d_CustomerID','cl_k']
AUX1=CLUSTERS[VAR].copy().sort_values(by=['d_CustomerID','cl_k']).reset_index(drop=True)

In [12]:
AUX1=AUX1.rename(columns={"d_CustomerID": "CustomerID"})

In [13]:
TF_PIVOTAL=pd.merge(df, AUX1, on=['CustomerID'],how='left').reset_index(drop=True)

**Importacion de la tabla con los Clusters DOBLE**

In [14]:
CLUSTERS = pd.read_pickle('TF_clusters_doble.pickle')

In [15]:
VAR=['d_CustomerID','cl_k']
AUX1=CLUSTERS[VAR].copy().sort_values(by=['d_CustomerID','cl_k']).reset_index(drop=True)

In [16]:
AUX1=AUX1.rename(columns={"d_CustomerID": "CustomerID"})

In [17]:
TF_PIVOTAL_3=pd.merge(TF_PIVOTAL, AUX1, on=['CustomerID'],how='left').reset_index(drop=True)

In [18]:
TF_PIVOTAL_3.tail()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Week,Day,Month,Year,Periodo2,Periodo,Flag_Cancel,Total,QuantityCanceled,cl_k_x,cl_k_y
332052,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680,France,49,9,12,11,20111209,201112,0,10.20,0,1,2.0
332053,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680,France,49,9,12,11,20111209,201112,0,12.60,0,1,2.0
332054,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680,France,49,9,12,11,20111209,201112,0,16.60,0,1,2.0
332055,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680,France,49,9,12,11,20111209,201112,0,16.60,0,1,2.0
332056,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680,France,49,9,12,11,20111209,201112,0,14.85,0,1,2.0

In [19]:
Missings=TF_PIVOTAL_3.isnull().sum()
Missings/TF_PIVOTAL_3.shape[0]*100

InvoiceNo            0.000000
StockCode            0.000000
Description          0.000000
Quantity             0.000000
InvoiceDate          0.000000
UnitPrice            0.000000
CustomerID           0.000000
Country              0.000000
Week                 0.000000
Day                  0.000000
Month                0.000000
Year                 0.000000
Periodo2             0.000000
Periodo              0.000000
Flag_Cancel          0.000000
Total                0.000000
QuantityCanceled     0.000000
cl_k_x               0.000000
cl_k_y              69.675086
dtype: float64

In [20]:
TF_PIVOTAL_3.to_pickle('TF_PIVOTAL_3.pickle')

In [21]:
TF_PIVOTAL_3.to_excel("TF_PIVOTAL_3.xlsx")